/* ======== start blogs section =========== */
#blogs_section {
  padding: 5rem 0 4rem;
}

.blog {
  .blog_img {
    border-radius: $br $br 0 0;
    overflow: hidden;
    line-height: 0;
    background: $lightblue;
    padding: 10px 0;
  }
  .blog_content {
    padding: 2rem 1rem 1rem;
    box-shadow: 0 0 10px #ccc;
    position: relative;
    border-radius: 0 0 $br $br;
    .blog_icon {
      position: absolute;
      top: 0;
      font-size: 13px;
      right: 1rem;
      @include tform(0, -50%);
      padding: .8rem;
      background: $bc;
      border-radius: 50%;
      box-shadow: 0 0 10px #ccc;
      line-height: 0;
      @include trans(.3s);
    }
    h2 {
      @include trans(.3s);
    }
  }
  &.article {
    .blog_content {
      box-shadow: none;
    }
  }
  &:hover {
    .blog_content {
      .blog_icon {
        background: $blue;
        color: $bc;
      }
      h2 {
        color: $blue;
      }
    }
  }
}

/* ======== end blogs section =========== */