/* ======== start blogs pages =========== */
.top_section {
  position: relative;
  padding: 8rem 0 4rem;
  &:before {
    content: "";
    position: absolute;
    left: -20%;
    top: 0;
    width: 115%;
    height: 100%;
    background: linear-gradient($blue, $darkblue);
    z-index: -1;
    border-radius: 0 50px 50px 0;
    transform: skew(-25deg);
  }
  .breadcrumb {
    background: transparent;
    .breadcrumb-item {
      float: none;
      display: inline-block;
      color: $bc;
      text-transform: uppercase;
      &:before {
        color: $bc;
      }
      a {
        color: $bc;
      }
    }
  }
}

.pagination {
  margin-top: 4rem;
  .page-item {
    .page-link {
      color: $blue;
    }
    &.active {
      .page-link {
        background: linear-gradient($blue, $darkblue);
        border-color: $blue;
        color: $bc;
      }
    }
  }
}

.aside-sec {
  .search-form {
    position: relative;
    margin-top: 0;
    margin-bottom: 3rem;
    .search-btn {
      position: absolute;
      right: 0;
      top: 0;
      border: 0px;
      color: $bc;
      width: 42px;
      height: 42px;
      padding: 0;
      text-align: center;
      border-radius: 0 $br $br 0;
      background: linear-gradient($blue, $darkblue);
    }
    .search-input {
      &:focus {
        @include tform(0, 0);
      }
    }
  }
  .catigories, .tags {
    h3 {
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 2px solid #eee;
    }
  }
  .catigories {
    margin-bottom: 3rem;
    .cat_item {
      margin-bottom: $margin-three;
      border-radius: $br;
      padding: .5rem 1rem;
    }
  }
  .tags {
    .tag-item {
      padding: .5rem 1rem;
      background: $blue;
      border-radius: $br;
      margin: 0 .5rem .5rem 0;
      a {
        color: $bc;
      }
    }
  }
}

.comments {
  h3 {
    font-weight: bold;
    color: $blue;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #eee;
  }
  .comment {
    margin-bottom: 1rem;
    .comment_img {
      margin-right: 1rem;
      img {
        width: 80px;
        border-radius: 50%;
      }
    }
    ._name {
      font-weight: bold;
    }
  }
  #comment_form {
    margin-top: 4rem;
  }
}

/* ======== end blogs pages =========== */