/* ======== star contact-us section =========== */
#contact_section {
  background: linear-gradient(to left, $lightblue, $bc 60%);
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    left: -20%;
    top: 0;
    width: 50%;
    height: 30%;
    background: linear-gradient($blue, $darkblue);
    z-index: 0;
    border-radius: 0 50px 50px 0;
    transform: skew(-25deg);
  }
  .contact__us {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: auto;
  }
  #contact_form {
    border-radius: $br;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    background: $bc;
    .form_heading {
      background: $blue;
      color: $bc;
      padding: .5rem 1rem;
      margin-bottom: 1rem;
      h3 {
        margin-bottom: 0;
      }
    }
    .row {
      margin: 0;
    }
    #contact_submit {
      display: block;
      margin: 0 auto 1rem;
    }
  }
  .contact_info {
    padding-left: 1rem;
    .contact_item {
      margin-bottom: 2rem;
    }
  }
}

/* ======== end contact-us section =========== */