/* ======== start description section =========== */
#description_section {
  position: relative;
  .container {
    position: relative;
    .before {
      position: absolute;
      top: 0;
      border-radius: 50px;
      left: 0;
      height: 30rem;
      width: 30rem;
      color: #f9fbff;
      z-index: -1;
      @include rotate(105deg);
    }
    /*.after {
      position: absolute;
      top: 60%;
      left: 50%;
      height: 16rem;
      width: 16rem;
      color: #def0fd;
      z-index: -1;
      @include rotate(38deg);
    }
    &:before{
      content: '\f04b';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: -15rem;
      border-radius: 50px;
      left: 0%;
      font-size: 40rem;
      color: #f9fbff;
      z-index: -1;
      @include rotate(105deg);
    }
    &:after{
      content: '\f04b';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 70%;
      left: 50%;
      font-size: 6rem;
      color: $blue;
      z-index: -1;
      @include rotate(31deg);
    }*/
  }
  .features_list {
    li {
      padding-left: 1.5rem;
      position: relative;
      margin-bottom: .5rem;
      &:before {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        left: 0;
        top: calc(50% - 4px);
        background: $blue;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 0 0 2px $blue;
      }
    }
  }
}

/* ======== end description section =========== */