/* ======== start Download section =========== */
#download_section {
  color: $bc;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    right: -21%;
    top: 0;
    width: 115%;
    height: 100%;
    background: linear-gradient($blue, $darkblue);
    z-index: -1;
    border-radius: 50px 0 0 50px;
    transform: skew(25deg);
  }
  p {
    max-width: 800px;
    margin: 1rem auto;
  }
  .app-btn {
    font-size: 13px;
    line-height: 15px;
    margin-top: 2rem;
    .app_icon {
      font-size: 20px;
      margin-right: .5rem;
    }
    p {
      margin: 0;
    }
    &:first-child {
      margin-right: 1rem;
    }
  }
}

/* ======== end Download section =========== */