/* ======== start faq section =========== */
#faq_section {
  /*background-color: #f9fbff;*/
  position: relative;
  overflow: hidden;
  /*&:after {
    content: '\f04b';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    right: 0;
    font-size: 24rem;
    line-height: 29rem;
    color: $lightblue;
    z-index: -1;
    transform: rotate(194deg) translate(-2rem, 0);
  }*/
  .accordion {
    .card {
      border-radius: $br;
      overflow: hidden;
      .card-header {
        padding: 0;
        background: $bc;
        &.active {
          background: $blue;
          button.btn {
            color: $bc;
          }
        }
      }
      button.btn {
        display: block;
        width: 100%;
        background: transparent;
        text-align: left;
        padding: 1rem 2rem;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
/*content:"<";
transform:rotate(90deg)*/
/* ======== end faq section =========== */