/* ======== start features section =========== */
#features_section {
  .feature_item {
    .feature_desc {
      margin-bottom: 0;
    }
    .feature_icon {
      font-size: 30px;
      padding-top: 2.5rem;
      margin-bottom: 1.5rem;
      position: relative;
      color: $blue;
      div {
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: -.5rem;
        left: -1rem;
        right: 0;
        margin: auto;
        z-index: -1;
        line-height: 0;
        @include rotate(180deg);
        transform: rotate(-97deg) skew(10deg);
        color: $lightblue;
        /*&:before{
          content: '\f04b';
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 5rem;
          font-size: 5rem;
          @include rotate(180deg);
          transform: rotate(-97deg) skew(10deg);
          color: $lightblue;
        }*/
      }
    }
  }
}

/* ======== end features section =========== */