/* ======== start footer section =========== */
.site_footer {
  padding: 3rem 0 2rem;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    right: -20%;
    top: 0;
    width: 115%;
    height: 100%;
    background: linear-gradient($blue, $darkblue);
    z-index: -1;
    border-radius: 50px 0 0 50px;
    transform: skew(25deg);
  }
  .logo {
    filter: invert(1) brightness(100);
    display: inline-block;
    margin-bottom: 1rem;
  }
  #subscribe_form {
    max-width: 500px;
    position: relative;
    margin: 1rem auto;
    .sub_btn {
      position: absolute;
      right: 0;
      background: transparent;
      border: 0;
      padding: 0 1rem;
      line-height: 42px;
      color: $blue;
      font-size: 18px;
      @include trans(.3s);
      &:hover {
        transform: scale(1.2) rotate(20deg);
      }
    }
    .form-input {
      width: 100%;
    }
  }
  .social_media {
    margin-bottom: 1rem;
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $bc;
      box-shadow: 0 0 10px #ccc;
      color: $blue;
      line-height: 39px;
      font-size: 1.1rem;
      @include trans(.3s);
      border: 2px solid transparent;
      &:hover {
        background: transparent;
        color: $bc;
        border-color: $bc;
      }
    }
  }
}

.goto_top_button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 11;
  .goto_top {
    display: inline-block;
    padding: 5px 1px 10px 5px;
    background: linear-gradient($blue, $darkblue);
    border-radius: $br;
    color: $bc;
    font-size: 12px;
  }
}

/* ======== end footer section =========== */