/* ======== start header =========== */
.main_header {
  min-height: 5rem;
  @include trans(.2s);
  .navbar-brand {
    line-height: 35px;
    z-index: 1;
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    color: $blue;
    text-transform: uppercase;
    img {
      max-height: 35px;
    }
  }
  .navbar-toggler {
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
  }
  .navbar {
    padding: 1rem 0;
  }
  .nav-item {
    .nav-link {
      position: relative;
      padding: .5rem 1rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      font-weight: normal;
    }
    &.active, &:hover {
      .nav-link {
        /*font-family: $font-family-bold;*/
        color: $blue;
      }
    }
  }
  &.light_header {
    .nav-item {
      .nav-link {
        color: $bc;
      }
    }
    .navbar-toggler {
      color: $bc;
    }
    .navbar-brand {
      filter: contrast(0) brightness(100);
    }
  }
  &.light_bg {
    box-shadow: 8px 0 13px #d8d8d8;
    background: $bc;
    z-index: 109;
    .navbar-brand {
      filter: none;
    }
    .navbar-toggler {
      color: $blue;
    }
    .nav-item {
      .nav-link {
        color: $tc;
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bc;
  z-index: 19999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s 0s ease-in-out infinite;
  img {
    animation: loader 3s 0s ease-in-out infinite;
  }
}

/* ======== end header =========== */