/* ======== start hero section =========== */
#hero_section {
  padding: 10rem 0 5rem;
  &.first_style {
    position: relative;
    overflow: hidden;
    background: #f9f9f9;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      background: linear-gradient($blue, $darkblue);
      padding-top: 50%;
      border-radius: 50px;
      width: 55%;
      transform: rotate(56deg) translate(85%, -100%) skew(-10deg);
    }
  }
  &.second_style {
    position: relative;
    &:before {
      content: "";
      height: 117%;
      top: -44%;
      z-index: -1;
      @include rotate(-13deg);
      border-radius: 0 0 0 25px;
      right: -13%;
      position: absolute;
      background: $lightblue;
      width: 110%;
    }
    &:after {
      content: "";
      height: 117%;
      top: -44%;
      z-index: -1;
      @include rotate(-10deg);
      border-radius: 0 0 0 25px;
      right: -10%;
      position: absolute;
      background: linear-gradient(to right bottom, $blue, $darkblue);
      width: 110%;
    }
  }
  &.third_style {
    position: relative;
    .top_mob {
      position: relative;
      z-index: 1;
      .circle {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        background: $darkblue;
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
        animation: border_animation 10s infinite linear;
        z-index: -1;
        &:before {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          background: $blue;
          width: 100%;
          padding-top: 100%;
          border-radius: 80% 30% 50% 50%/50%;
          animation: border_animation 12s infinite linear;
        }
        &:after {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background: radial-gradient($blue 50%, $darkblue);
          border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
          animation: border_animation 15s infinite linear;
        }
      }
      img {
        max-width: 80%;
      }
    }
  }
  .app-btn {
    font-size: 13px;
    line-height: 15px;
    margin-top: 2rem;
    .app_icon {
      font-size: 20px;
      margin-right: .5rem;
    }
    p {
      margin: 0;
    }
    &:first-child {
      margin-right: 1rem;
    }
  }
  #video_icon {
    margin-top: 4rem;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    .video_icon {
      color: $blue;
      box-shadow: 0 0 10px #ccc;
      padding: 10px 14px 10px 16px;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      margin-right: .5rem;
    }
  }
  .video_popup {
    position: fixed;
    background: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1929;
    display: none;
    .video_src {
      position: relative;
      width: 700px;
      max-width: 80%;
    }
    .iframe_src {
      width: 100%;
      height: 0;
      padding-top: 56.3%;
      position: relative;
      display: none;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* ======== end hero section =========== */