/* ======== start clients section =========== */
#clients_section {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    right: -20%;
    bottom: 5rem;
    width: 60%;
    height: calc(80% - 5rem);
    background: $lightblue;
    z-index: -1;
    border-radius: 50px 0 0 50px;
    transform: skew(-25deg);
  }
  &:after {
    content: "";
    position: absolute;
    left: -20%;
    top: 0;
    width: 100%;
    height: calc(82% - 5rem);
    background: linear-gradient($blue, $darkblue);
    z-index: -1;
    border-radius: 0 50px 50px 0;
    transform: skew(-25deg);
  }
  .owl-carousel {
    .owl-nav {
      position: absolute;
      top: 1rem;
      right: -38%;
    }
    .owl-prev, .owl-next {
      display: inline-block;
      border: 2px solid $bc;
      padding: 0 1rem;
      background: $bc;
      @include trans(.3s);
      border-radius: $br;
        span{
          display: none;
        }
      &:hover {
        border-color: $blue;
      }
      /*&:before {
        content: '\f30b';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        width: 30px;
        height: 30px;
        color: $blue;
        font-size: 20px;
      }*/
    }
    .owl-next {
      width: 50px;
      height: 30px;
      background: $bc url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20"><path fill="rgb(83,135,237)" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg>') no-repeat center center;
    }
    .owl-prev {
      margin-right: 1rem;
      width: 50px;
      height: 30px;
      background: $bc url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20"><path fill="rgb(83,135,237)" d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"></path></svg>') no-repeat center center;
    }
  }
  .owl-stage-outer {
    padding: 0 1rem 1rem 0;
  }
  .owl-item {
    .client_item {
      background: $bc;
      border-radius: $br;
      padding: 1rem 2rem;
      margin-right: 1rem;
      .client_opinion {
        font-size: 14px;
      }
      .client_img {
        margin-right: 1rem;
        img {
          width: 40px;
          border-radius: 50%;
        }
      }
      .client_name, .client_position {
        margin: 0;
      }
    }
    &.active {
      .client_item {
        box-shadow: 0 0 15px #ccc;
      }
    }
  }
}

/* ======== end clients section =========== */