/* ======== start pricing section =========== */
#pricing_section {
  background: #f9f9f9;
  .pricing_table {
    background: $bc;
    border-radius: $br;
    overflow: hidden;
    .pricing_head {
      padding: 2rem 2rem 4rem;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: $lightblue;
        border-radius: 20px;
        top: 0;
        right: 0;
        width: 100%;
        height: 150%;
        transform: rotate(-13deg) translate(19%, -56%);
      }
    }
    .pricing_features {
      li {
        margin-bottom: 1rem;
        padding: 0 2rem;
      }
    }
    .price {
      h1 {
        color: $blue;
        font-weight: bold;
        span {
          font-size: 14px;
          color: $tc;
          font-weight: 100;
        }
      }
    }
    &.active {
      .pricing_head {
        &:before {
          background: $blue;
        }
      }
    }
  }
}

/* ======== end pricing section =========== */