/* ======== start effective features section =========== */
#effective_features {
  .feature {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 16px;
      width: 40px;
      height: 2px;
      background: $lightblue;
      z-index: -1;
    }
    &:after {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 13px;
      background: $blue;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0 0 0 2px $blue;
    }
  }
  .text-left {
    .feature {
      &:before {
        left: 0;
        transform: translatex(-160%);
      }
      &:after {
        left: -22px;
      }
    }
  }
  .text-right {
    .feature {
      &:before {
        right: 0;
        transform: translatex(160%);
      }
      &:after {
        right: -22px;
      }
    }
  }
  .mid_pic{
    width:270px;
    height:500px;
    margin:0 auto;
    /*background: linear-gradient(to bottom, $lightblue, $bc 60%);
    border-radius: 12px;*/
  }
}

/* ======== end effective features section =========== */