doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="assets/css/style.css" inline)
        title Static site boilerplate
    body
        include sections/header
        main#home.start_site
            include sections/hero
            include sections/feature
            include sections/desc
            include sections/service
            include sections/people
            include sections/price
            include sections/faq
            include sections/download
            include sections/blog
            include sections/contact
            include sections/gotop
        include sections/footer
        script(src="assets/js/pack.js" inline)