// Large devices (desktops, less than 1600px)
@media (max-width: 1600px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .main_header {
    #main-menu {
      padding: 2rem 0;
      overflow-y: auto;
      background-color: #fff;
    }
  }
  #hero_section {
    .top_mob {
      display: none;
    }
    &.first_style {
      &:before {
        display: none;
      }
    }
    &.second_style {
      &:before {
        height: 94%;
        top: 0;
        z-index: 0;
        @include rotate(0deg);
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.05), transparent);
        width: 100%;
      }
      &:after {
        height: 100%;
        top: 0;
        z-index: -1;
        @include rotate(0deg);
        right: 0;
        width: 100%;
      }
    }
    &.third_style {
      &:before {
        display: none;
      }
    }
  }
  #effective_features {
    .text-right {
      text-align: left !important;
    }
    .mid_pic{
        display: none;
    }
    img {
      display: none;
    }
    .feature {
      padding-left: 1rem;
      &:before {
        display: none;
      }
      &:after {
        left: 0 !important;
      }
    }
  }
  .aside-sec {
    margin-top: 4rem;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #features_section {
    .feature_item {
      margin-bottom: 4rem;
    }
  }
  #description_section {
    .desc_mob {
      margin-top: 2rem;
    }
  }
  #clients_section {
    .owl-carousel {
      .owl-nav {
        right: 0;
        position: relative;
        .owl-prev, .owl-next {
          background: $blue;
          &:before {
            color: $bc;
          }
        }
        .owl-next {
          background: $blue url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20"><path fill="rgb(255,255,255)" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg>') center center no-repeat;
        }
        .owl-prev {
          background: $blue url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20"><path fill="rgb(255,255,255)" d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"></path></svg>') center center no-repeat;
        }
      }
    }
  }
  #pricing_section {
    .pricing_table {
      margin-bottom: 2rem;
    }
  }
  #download_section {
    &:before {
      right: -19%;
      transform: skew(10deg);
    }
  }
  .blog {
    margin-bottom: 2rem;
  }
  #contact_section {
    #contact_form {
      margin-bottom: 2rem;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  html {
    font-size: 12px;
  }
  .pagination {
    margin-top: 0;
  }
  #faq_section {
    .accordion {
      .card {
        button.btn {
          padding: 1rem;
        }
      }
    }
  }
  #effective_features .feature:after {
    top: 9px;
  }
  #download_section {
    &:before {
      right: 0;
      width: 100%;
      transform: skew(0deg);
    }
  }
  .site_footer {
    .logo {
      max-width: 115px;
    }
    .social_media a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
    p {
      font-size: 9px;
    }
    &:before {
      @include skew(15deg, 0deg);
    }
    #subscribe_form {
      max-width: 80%;
    }
  }
}
