section#blogs_section.text-center
    .container
        h1.section_tit GET STARTED
        p.sec_desc.margin_bottom_4
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .blogs.row.text-left.margin_bottom_4
            .col-sm-12.col-md-4.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s")
                .blog
                    .blog_img
                        img.w-100(src="../src/img/702.svg" alt="pic" inline)
                    .blog_content
                        a(href="#")
                            .blog_icon
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="13" height="13")
                                    path(fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z")
                            h2.text-uppercase.blog_title How To Install The App
            .col-sm-12.col-md-4.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s")
                .blog
                    .blog_img
                        img.w-100(src="../src/img/659.svg" alt="pic" inline)
                    .blog_content
                        a(href="#")
                            .blog_icon
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="13" height="13")
                                    path(fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z")
                            h2.text-uppercase.blog_title Personal App Tuning
            .col-sm-12.col-md-4.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s")
                .blog
                    .blog_img
                        img.w-100(src="../src/img/711.svg" alt="pic" inline)
                    .blog_content
                        a(href="#")
                            .blog_icon
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="13" height="13")
                                    path(fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z")
                            h2.text-uppercase.blog_title How To Modify Colors
        p.text-center.keep_reading Intersted In more ?
            a.col_light_greenhref(href="#") Keep Reading
