section#contact_section
    .contact__us
        .container
            .row.contact-us.align-items-center
                .col-sm-12.col-md-6.col-lg-8
                    form#contact_form(action="#" method="post")
                        .form_heading
                            h3 Get In Touch
                        .row
                            .col
                                input#your_name(type="text" class="form-input w-100" name="full-name" placeholder="Full Name" required)
                            .col
                                input#email(type="email" class="form-input w-100" name="email" placeholder="Email" required)
                        .col
                            input#phone(type="text" class="form-input w-100" name="phone" placeholder="Phone")
                            textarea#message.form-input.w-100(placeholder="Message" name="message")
                            button#contact_submit.btn_blue.w-50.text-uppercase(type="submit" name="button") submit
                                svg.float-right.hidden.fa-spin.fas.fa-circle-notch(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="14" height="12")
                                    path(fill="currentColor" d="M288 39.056v16.659c0 10.804 7.281 20.159 17.686 23.066C383.204 100.434 440 171.518 440 256c0 101.689-82.295 184-184 184-101.689 0-184-82.295-184-184 0-84.47 56.786-155.564 134.312-177.219C216.719 75.874 224 66.517 224 55.712V39.064c0-15.709-14.834-27.153-30.046-23.234C86.603 43.482 7.394 141.206 8.003 257.332c.72 137.052 111.477 246.956 248.531 246.667C393.255 503.711 504 392.788 504 256c0-115.633-79.14-212.779-186.211-240.236C302.678 11.889 288 23.456 288 39.056z")
                            #msgSubmit.h3.text-center.hidden Message Submitted! Thanks :)
                .col-sm-12.col-md-6.col-lg-4
                    .contact_info.bg_grad.text-left
                        h3.text_blue Contact with us
                        p.margin_bottom_4 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        .contact_item
                            p.text-uppercase
                                svg.v-m.margin_right(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="15")
                                    path(fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | 10,Park Str.,London,UK.
                        .contact_item
                            p.text-uppercase
                                svg.v-m.margin_right(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="15")
                                    path(fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z")
                                a(href="tel:+15173977100") (+1) 517 397 7100
                        .contact_item
                            p.text-uppercase
                                svg.v-m.margin_right(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="15")
                                    path(fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z")
                                a(href="mailto:abcdefg@gmail.com") abcdefg@gmail.com
                        .contact_item
                            p.text-uppercase
                                svg.v-m.margin_right(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="15")
                                    path(fill="currentColor" d="M496 224c-79.6 0-144 64.4-144 144s64.4 144 144 144 144-64.4 144-144-64.4-144-144-144zm64 150.3c0 5.3-4.4 9.7-9.7 9.7h-60.6c-5.3 0-9.7-4.4-9.7-9.7v-76.6c0-5.3 4.4-9.7 9.7-9.7h12.6c5.3 0 9.7 4.4 9.7 9.7V352h38.3c5.3 0 9.7 4.4 9.7 9.7v12.6zM320 368c0-27.8 6.7-54.1 18.2-77.5-8-1.5-16.2-2.5-24.6-2.5h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h347.1c-45.3-31.9-75.1-84.5-75.1-144zm-96-112c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128z")
                                | Mon-Fri 9.00AM to 5.00PM.