#description_section
    .container
        svg.before(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
            path(fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z")
        .row.desc_row.align-items-center
            .col-sm-12.col-md-6
                .desc_content
                    h2.text-capitalize
                        | Appland Features
                    p.text-capitalize
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    ul.features_list
                        li Easy To Use
                        li Awesome Design
                        li Full Support
                        li Easy To Customize
            .col-sm-12.col-md-6
                .desc_mob.text-center
                    .svg_pic
                        img.mw-100(src="../src/img/611b.svg" alt="pic" width="650" height="450" inline)