section#faq_section.text-center
    .container
        h1.section_tit.lightblue
            | FREQUENTLY ASKED QUESTIONS
        p.sec_desc.margin_bottom_4
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .row
            .col-sm-12.col-lg-6
                .quistions.text-left
                    #accordionOne.accordion
                        .card
                            #headingOne.card-header.active
                                h5.mb-0
                                    button.btn(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                        | Is The App Available In All Countries?
                                        svg.svg-inline--fa.fa-angle-down.fa-w-10.float-right.faq_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="20")
                                            path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")
                            #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionOne")
                                .card-body
                                    include:markdown-it txt/faq/accordionOne/card1.md
                        .card
                            #headingTwo.card-header
                                h5.mb-0
                                    button.btn(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
                                        | How Can I Manage Or Stop The Notifications I Receive?
                                        svg.svg-inline--fa.fa-angle-down.fa-w-10.float-right.faq_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="20")
                                            path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")
                            #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionOne")
                                .card-body
                                    include:markdown-it txt/faq/accordionOne/card2.md
                        .card
                            #headingThree.card-header
                                h5.mb-0
                                    button.btn(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")
                                        | Can I Use The Subscription On More Than One Device?
                                        svg.svg-inline--fa.fa-angle-down.fa-w-10.float-right.faq_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="20")
                                            path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")
                            #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionOne")
                                .card-body
                                    include:markdown-it txt/faq/accordionOne/card3.md
            .col-sm-12.col-lg-6
                .quistions.text-left
                    #accordionTow.accordion
                        .card
                            #headingFour.card-header
                                h5.mb-0
                                    button.btn(data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")
                                        | Can I Use The Subscription On More Than One Device?
                                        svg.svg-inline--fa.fa-angle-down.fa-w-10.float-right.faq_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="20")
                                            path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")
                            #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordionTow")
                                .card-body
                                    include:markdown-it txt/faq/accordionTwo/card1.md
                        .card
                            #headingfive.card-header
                                h5.mb-0
                                    button.btn(data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive")
                                        | Is The App Available In All Countries?
                                        svg.svg-inline--fa.fa-angle-down.fa-w-10.float-right.faq_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="20")
                                            path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")
                            #collapseFive.collapse(aria-labelledby="headingfive" data-parent="#accordionTow")
                                .card-body
                                    include:markdown-it txt/faq/accordionTwo/card2.md
                        .card
                            #headingSix.card-header
                                h5.mb-0
                                    button.btn(data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix")
                                        | How Can I Manage Or Stop The Notifications I Receive?
                                        svg.svg-inline--fa.fa-angle-down.fa-w-10.float-right.faq_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="20")
                                            path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")
                            #collapseSix.collapse(aria-labelledby="headingSix" data-parent="#accordionTow")
                                .card-body
                                    include:markdown-it txt/faq/accordionTwo/card3.md