header.main_header.fixed-top.w-100
    .container
        nav.navbar.navbar-expand-lg
            a.navbar-brand(href="/")
                img(src="../src/img/APPLAND.svg" alt="logo" inline)
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation")
                svg.text_blue(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="28" height="28")
                    path(fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z")
            #main-menu.collapse.navbar-collapse
                include nav
    include loader