section#hero_section.first_style
    .container
        .row.align-items-center
            .col-sm-12.col-md-12.col-lg-6
                .top_content
                    h1.wow.fadeInDown.font-weight-bold
                        | Appland is Awesome App Landing Page
                    p.top_sec_desc.wow.fadeInDown
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    .d-flex.align-content-center.flex-wrap.wow.fadeInUp
                        a.app-btn.btn_blue.d-inline-flex.align-items-center(href="#")
                            svg.app_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20")
                                path(fill="currentColor" d="M314.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C59.3 141.2 0 184.8 0 273.5c0 26.2 4.8 53.3 14.4 81.2 12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z")
                            p
                                | Available on the
                                br
                                | APP STORE
                        a.app-btn.btn_blue.d-inline-flex.align-items-center(href="#")
                            svg.app_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20")
                                path(fill="currentColor" d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z")
                            p
                                | Available on the
                                br
                                | GOOGLE PLAY
                    .watch_video
                        a#video_icon.font-weight-bold(href="#")
                            svg.video_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16")
                                path(fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z")
                            | Watch Video
                        include video
            .col-sm-12.col-md-12.col-lg-6
                .top_mob.text-right
                    .wow.fadeInUp(style="float:right;width:270px;height:500px;")
                        img(src="../src/img/iphone-light.svg" alt="pic" width="270" height="500")