ul.navbar-nav.ml-auto
    each val, index in {'#home':'Home', '#features_section': 'Features', '#clients_section': 'Clients', '#pricing_section': 'Price', '#faq_section': 'FAQ', '#download_section': 'Get started', '#contact_section': 'Contact'}
        li.nav-item.text-uppercase
            a.nav-link(href = index)=val

