section#clients_section
    .container
        h1.section_tit.text-white.margin_bottom_4 WHAT PEOPLE SAY
    .col-md-6
        #clients_slider.owl-carousel.box_shadow.ightblue
            .client_item
                p.client_opinion
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut sed do eiusmod tempor incididunt
                .d-flex.align-items-center
                    .client_img
                        img(src="../src/img/icons/user-circle-regular.svg" alt="user" inline)
                    div
                        p.client_name.text-capitalize.font-weight-bold
                            | Johan Smit
                        p.client_position.text-capitalize.col_light_green
                            | Awesome Seinor Artist
            .client_item
                p.client_opinion
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut sed do eiusmod tempor incididunt
                .d-flex.align-items-center
                    .client_img
                        img(src="../src/img/icons/user-circle-regular.svg" alt="user" inline)
                    div
                        p.client_name.text-capitalize.font-weight-bold
                            | Rony Ton
                        p.client_position.text-capitalize.col_light_green
                            | Seinor UI / UX
            .client_item
                p.client_opinion
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut sed do eiusmod tempor incididunt
                .d-flex.align-items-center
                    .client_img
                        img(src="../src/img/icons/user-circle-regular.svg" alt="user" inline)
                    div
                        p.client_name.text-capitalize.font-weight-bold
                            | Johan Smit
                        p.client_position.text-capitalize.col_light_green
                            | Frontend Developer
            .client_item
                p.client_opinion
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut sed do eiusmod tempor incididunt
                .d-flex.align-items-center
                    .client_img
                        img(src="../src/img/icons/user-circle-regular.svg" alt="user" inline)
                    div
                        p.client_name.text-capitalize.font-weight-bold
                            | Johan Smit
                        p.client_position.text-capitalize.col_light_green
                            | Awesome Seinor Artist