section#pricing_section.text-center
    .container
        h1.section_tit PRICING PLANS
        p.sec_desc.margin_bottom_4
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .row
            .col-sm-12.col-md-4
                .pricing_table.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0s")
                    .pricing_head
                        h2.text_blue.position-relative BASIC
                    ul.pricing_features
                        li 1 GB of space
                        li Real-time sync
                        li Unlimited Attachments
                        li.disabled Customize Themes
                        li.disabled Priority email support
                    .price.margin_top
                        h1 3.99$
                            span / per month
                        a.pricing_btn.btn_blue_border.margin_top.margin_bottom(href="#") select Plan
            .col-sm-12.col-md-4
                .pricing_table.wow.fadeInUp.active(data-wow-duration="1s" data-wow-delay=".3s")
                    .pricing_head
                        h2.text_white.position-relative STANDARD
                    ul.pricing_features
                        li 1 GB of space
                        li Real-time sync
                        li Unlimited Attachments
                        li Customize Themes
                        li.disabled Priority email support
                    .price.margin_top
                        h1 4.99$
                            span / per month
                        a.pricing_btn.btn_blue_border.margin_top.margin_bottom(href="#") select Plan
            .col-sm-12.col-md-4
                .pricing_table.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".6s")
                    .pricing_head
                        h2.text_blue.position-relative PRO
                    ul.pricing_features
                        li 1 GB of space
                        li Real-time sync
                        li Unlimited Attachments
                        li Customize Themes
                        li Priority email support
                    .price.margin_top
                        h1 5.99$
                            span / per month
                        a.pricing_btn.btn_blue_border.margin_top.margin_bottom(href="#") select Plan