section#effective_features.text-center
    .container
        h2.text-capitalize.font-weight-bold Advanced Pro Features
        p.text-capitalize.margin_bottom_4
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        .row.align-items-center
            .col-lg-4.text-right.wow.fadeInRight
                .feature.margin_bottom
                    h3.text_blue Responsive web design
                    p Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore.
                .feature.margin_bottom
                    h3.text_blue Fully support
                    p Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore.
                .feature.margin_bottom
                    h3.text_blue Easy to Modify
                    p Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore.
            .col-lg-4
                .mid_pic.mw-100.position-relative
                    img(src="../src/img/galaxy2.svg" alt="pic" width="270" height="450" inline)
            .col-lg-4.text-left.wow.fadeInLeft
                .feature.margin_bottom
                    h3.text_blue Easy to modify colors
                    p Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore.
                .feature.margin_bottom
                    h3.text_blue Free Updates
                    p Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore.
                .feature.margin_bottom
                    h3.text_blue Fast and simlpe Setup
                    p Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore.