.video_popup.justify-content-center.align-items-center.align-content-center
    .video_src
        .iframe_src
            iframe(src="https://www.youtube.com/embed/W_B2UZ_ZoxU?rel=0&amp;showinfo=0" allowfullscreen)